body{
  background:#f7f7f7;
  letter-spacing: 1px;
}
.container{
  max-width: 400px;
  min-height: 450px;
  margin: 50px auto;
  /* background-color: #efefef;
  box-shadow: 0 0 10px gray; */
  /* margin-top: 50px; */
  padding: 15px 50px;
}

.balance{
  text-align: center;
  font-size: 1.75rem;
}

.h3{
  text-align: center;
  font-size: 1.375rem;
}

.income{
  text-align: center;
  font-size: 1.75rem;
  color: rgb(49, 209, 49);
}

.expense{
  text-align: center;
  font-size: 1.75rem;
  color: red ;
}

.text_center{
  text-align: center;
}

.expense_container{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.616) ;
}

.transaction_form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  height: 30px;
  font-size: 1.125rem;
  outline: none;
  border: none;
  border-bottom:1px solid rgb(170, 4, 170) ;
  text-align: center;
  
}

.btn{
  height: 50px !important;
  background:linear-gradient(90deg, #a1c4fd 0%,#c2e9fb 100% );
   outline: none;
   border: none;
   font-size: 1.375rem;
   color: white;
   
}

.btn:hover{
  cursor: pointer;
}

.transaction_list{
  margin: 0;
  padding: 0;
  
}

.transaction_list li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 5px rgba(56, 55, 55, 0.637);
  padding: 10px;
  margin: 20px 0;
  border-right: 5px solid rgb(170, 4, 170);
  width: 95%;
  font-size: 1.125rem;
  
}

.transaction_list li:hover{
  background-color: rgb(170, 4, 170);
  color: white;
  cursor: pointer;
  font-weight: bold;
}